PORT=
JWT_SECRET=

POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_HOST=
MINIO_API_PORT=
MINIO_WEB_PORT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

REDIS_PORT=
REDIS_PASSWORD=
