PORT=
NOTIFICATIONS_PORT=
JWT_SECRET=

POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=

MONGODB_PORT=
MONGODB_USER=
MONGODB_PASSWORD=

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_HOST=
MINIO_API_PORT=
MINIO_WEB_PORT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

REDIS_PORT=
REDIS_PASSWORD=

KAFKA_PORT_1=
KAFKA_PORT_2=
KAFKA_UI_PORT=

ADMIN_PASSWORD=
